<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mydemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mq.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mq.activity.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name="com.mq.activity.AnswerActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name="com.mq.activity.MyAnswerActivity"
            android:label="@string/title_activity_my_answer" >
        </activity>
        <activity
            android:name="com.mq.activity.AnswerDetailActivity"
            android:label="@string/title_activity_comment_detail" >
        </activity>
        <activity
            android:name="com.mq.activity.MyCommentActivity"
            android:label="@string/title_activity_my_comment" >
        </activity>
        <activity
            android:name="com.mq.activity.CollectionActivity"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity
            android:name="com.mq.activity.AddCollectionActivity"
            android:theme="@style/MyDialogStyleBottom" >
        </activity>
        <activity
            android:name="com.mq.activity.PersonDetailActivity"
            android:label="@string/title_activity_person_detail" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
